/*Colors*/
.light {
    color: #F9FAF8;
}

.mid {
    color: #E5E8EB;
}

.dark {
    color: #1F2937;
}

.bright {
    color: #3882F6;
}

.light-background {
    background-color: #F9FAF8;
}

.dark-background {
    background-color: #1F2937;
    color: #F9FAF8;
}

.mid-background {
    background-color: #E5E8EB;
}

.bright-background {
    background-color: #3882F6;
}

/*Text Styling*/
html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

.button {
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

blockquote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote span {
    font-weight: 700;
    font-size: 24px;
}

/*Header*/
header {
    display: flex;
    flex-direction: column;
    padding: 0px 15%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.hero {
    display: flex;
    align-items: center;
    padding: 80px 0px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container h1,
.container p {
    margin: 0;
}

.container .button {
    margin-top: 10px;
}

.hero img {
    flex: 1;
    background-color: #3882F6;
    align-self: stretch;
}