.light {
    color: #F9FAF8;
}

.mid {
    color: #E5E8EB;
}

.dark {
    color: #1F2937;
}

.bright {
    color: #3882F6;
}

.light-background {
    background-color: #F9FAF8;
}

.dark-background {
    background-color: #1F2937;
    color: #F9FAF8;
}

.mid-background {
    background-color: #E5E8EB;
}

.bright-background {
    background-color: #3882F6;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

.button {
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

blockquote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote span {
    font-weight: 700;
    font-size: 24px;
}