/*General Rules*/
.light {
    color: #F9FAF8;
}

.mid {
    color: #E5E8EB;
}

.dark {
    color: #1F2937;
}

.bright {
    color: #3882F6;
}

.light-background {
    background-color: #F9FAF8;
}

.dark-background {
    background-color: #1F2937;
    color: #F9FAF8;
}

.mid-background {
    background-color: #E5E8EB;
}

.bright-background {
    background-color: #3882F6;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

.button {
    display: inline-block;
    font-weight: 700;
    padding: 8px 25px;
    border-radius: 8px;
    white-space: nowrap;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

blockquote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote span {
    font-weight: 700;
    font-size: 24px;
    text-align: end;
}

/*Header*/
header {
    display: flex;
    flex-direction: column;
    padding: 2% 15% 0;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.hero {
    display: flex;
    align-items: center;
    padding: 80px 0px;
    justify-content: space-between;
}

.container h1,
header .container p {
    margin: 0;
}

header .button {
    margin-top: 10px;
}

.hero img {
    background-color: #3882F6;
    align-self: stretch;
}

/*Main Content*/
.content {
    display: flex;
    flex-direction: column;
}

.section {
    padding: 0 15%;
}

/*First Panel*/
.first {
    text-align: center;
    padding-bottom: 80px;
}

.gallery {
    display: flex;
    justify-content: center;
}

.gallery img {
    background-color: #3882F6;
    min-height: 100px;
    min-width: 100px;
}

/*Second Panel*/
.second {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
}

.second blockquote {
    margin: 0;
}

/*Third Panel*/
.third {
    padding-top: 80px;
    padding-bottom: 80px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

.action h3,
.action p {
    margin: 0;
}

.action .button {
    border: 2px solid #F9FAF8
}

/*Footer*/
footer {
    text-align: center;
    padding: 30px;
}
